:root {
    --accent: rgb(155, 220, 220);
    --gray: rgb(194, 194, 194);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--gray);
    height:15vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
header h1 {
    background-color: var(--accent);
    padding: 1vh 2vw 1vh 5vw;
    font-size: 3.75vh;
    font-style: italic;
    flex-grow: 1;
}
header h1 {
    transition: all 0.5s ease-in-
out;
}

header h1:hover {
    box-shadow: inset 0px 0px 8px
var(--accent), 0 0 30px
var(--accent);
    color: whitesmoke;
}

nav ul {
    /* border: solid black 1px; */
    height: 100%;
    Width: 100%;
    display: flex;
    flex: 1 1 50vh;
    padding-right: 20px;
    justify-content: space-evenly;
}

nav a {
    font-size: 2.5vh;;
    text-decoration: underline var(--accent);
    color: black;
    padding: 10px;
    background-image: linear-gradient(to top, var(--accent) 50%, var(--gray) 50%);
    background-position: 1% 0%;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
    
}
nav a:hover {
    background-color: var(--accent);
    background-position: 0% 99.99% ;
    font-size: 2.6vh;
}

.mainImage {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 100px;
}
.mainImage h1 {
    position: relative;
    background-color: var(--accent);
    margin-top: -60px;
    margin-right: 20px;
    padding: 10px 10px;
    font-size: large;
}

.mainImage h1:hover {
    box-shadow: inset 0px 0px 8px
var(--accent), 0 0 16px
var(--accent);
    color: whitesmoke;
}

#mainImage {
    width: 100%;
    max-height: 20vh;
}

@media screen and (max-width: 768px) {
    header, nav ul {
        flex-flow: column wrap;
        text-align: center;
        height: max-content;
        
    }
    header h1 {
        padding: 10px;
        margin-bottom: 10px;
    }
    nav ul {
        padding-right: 0;
    }

    nav {
        /* border: solid whitesmoke 2px; */
        width: 100%;
        
    }
    nav li {
        
        border: solid whitesmoke 2px;
        width: 100%;
        margin: 15px 0;
        
    }
    nav li:hover {
        box-shadow: inset 0px 0px 6px
    whitesmoke, 0 0 10px
    whitesmoke;
        
    }
    
}